<!--Configuration for Unity Application Block-->

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias ="UnityController" type ="MobileTower.WebApp.Controllers.UnityController, MobileTower.WebApp"/>
  <alias alias ="IPriceCalculator" type ="MobileTower.WebApp.Services.IPriceCalculator, MobileTower.WebApp"/>
  <alias alias ="PriceCalculator" type ="MobileTower.WebApp.Services.PriceCalculator, MobileTower.WebApp"/>
  <alias alias ="ILogger" type ="Test.Logging.ILogger, Test"/>
  <alias alias ="Logger" type ="Test.Logging.Logger, Test"/>

  <container>
    <register type="IPriceCalculator" mapTo ="PriceCalculator"/>
    <register type="UnityController"/>
    <register type="ILogger" mapTo ="Logger"/>
  </container>
</unity>
